#our-products {
    .product-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        }

        img {
            height: 200px;
            object-fit: cover;
            border-bottom: 1px solid #ddd;
        }

        .card-title {
            font-size: 1.2rem;
            font-weight: 600;
        }

        .card-text {
            font-size: 1rem;
            color: #333;
        }

        .btn {
            margin: 5px 0;
            font-size: 0.9rem;
            &.view-details {
                background-color: #007bff;
                color: #fff;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }
}